<div class="chatbox">
  <div
    style="border-bottom: 1px solid #cfcfcf"
    class="header px-3 py-2 d-flex align-items-center justify-content-between"
  >
    <span class="fw-bold">{{ studentName || "دردشة" }} </span>
  </div>
  <div #boxchat2 class="body">
    <ul class="p-2 list-unstyled m-0">
      <li
        class="mb-2"
        [ngStyle]="{
          'text-align':
            userid == message?.from_id ||
            message?.from_id == '_1' ||
            message.from_display_name
              ? 'right'
              : 'left'
        }"
        *ngFor="let message of messages; let msgIndex = index"
      >
        <span
          style="
            border-radius: 15px;
            padding: 10px;
            display: inline-block;
            max-width: 80%;
            word-break: break-word;
          "
          [ngStyle]="{
            background:
              userid == message?.from_id ||
              message?.from_id == '_1' ||
              message.from_display_name
                ? '#920f11'
                : '#e4e6eb',
            color:
              userid == message?.from_id ||
              message?.from_id == '_1' ||
              message.from_display_name
                ? 'white'
                : 'black'
          }"
          *ngIf="message?.type == 'text'"
        >
          {{ message?.message_content }}
        </span>
        <div
          (click)="currentImage = message?.message_content"
          *ngIf="message?.type == 'photo'"
          style="min-height: 100px; cursor: pointer"
          [ngStyle]="{
            'text-align':
              userid == message?.from_id ||
              message?.from_id == '_1' ||
              message.from_display_name
                ? 'right'
                : 'left'
          }"
        >
          <img
            style="
              max-height: 200px;
              border: 1px solid #cfcfcf;
              border-radius: 10px;
              max-width: 200px;
            "
            [src]="message?.message_content"
            alt="Drasti"
          />
        </div>
        <div
          [ngStyle]="{
            'justify-content':
              userid == message?.from_id ||
              message?.from_id == '_1' ||
              message.from_display_name
                ? 'flex-start'
                : 'flex-end'
          }"
          style="display: flex; align-items: center; gap: 8px"
          *ngIf="message?.type == 'audio'"
        >
          <i *ngIf="message?.isUploading" class="fa-regular fa-clock"></i>
          <i #loader class="rotate-icon fa-solid fa-spinner"></i>
          <audio
            preload="metadata"
            #audioPlayer
            (play)="onAudioPlay(audioPlayer)"
            (canplaythrough)="
              loader.style.display = 'none'; audioPlayer.style.display = 'block'
            "
            style="width: 90%; display: none"
            controls
            controlsList="nodownload noplaybackrate"
          >
            <source [src]="getSafeUrl(message?.message_content)" />
            Your browser does not support the audio element.
          </audio>
        </div>
        <p
          *ngIf="
            userid != message?.from_id &&
            message?.from_id != '_1' &&
            !message.from_display_name
          "
          style="
            justify-content: flex-end;
            display: flex;
            margin: 3px 0 0 0;
            font-size: 10px;
            color: black;
            display: flex;
            gap: 10px;
          "
        >
          من {{ message?.from }} -
          <bdi
            style="
              justify-content: flex-end;
              display: flex;
              margin: 0;
              font-size: 10px;
              color: black;
              font-weight: normal;
            "
            >{{ message?.date | date : "d MMMM, h:mm a" }}</bdi
          >
        </p>
        <p
          *ngIf="
            userid == message?.from_id ||
            message?.from_id == '_1' ||
            message.from_display_name
          "
          style="
            justify-content: flex-start;
            align-items: center;
            display: flex;
            margin: 3px 0 0 0;
            font-size: 10px;
            color: black;
            display: flex;
            gap: 10px;
          "
        >
          <i
            (click)="selectedMsgToDelete = message"
            style="color: red; cursor: pointer; font-size: 16px"
            class="fa-solid fa-trash"
          ></i>
          <bdi
            style="
              justify-content: flex-start;
              display: flex;
              margin: 0;
              font-size: 10px;
              color: black;
              font-weight: normal;
            "
            >{{ message?.date | date : "d MMMM, h:mm a" }}
          </bdi>
        </p>
      </li>
      <li *ngIf="imageLoading">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div
    style="border-top: 1px solid #cfcfcf; gap: 10px"
    class="footer p-2 d-flex align-items-center justify-content-between"
  >
    <ng-container *ngIf="showaudio">
      <app-audio-message
        (micError)="micrphonAlert = true"
        (send)="loading(); sendAudio($event)"
        (nowRecording)="nowRecording = $event"
      ></app-audio-message>
    </ng-container>
    <ng-container *ngIf="!nowRecording">
      <div style="height: 16px; width: 16px" class="position-relative">
        <i class="fa-solid fa-image position-absolute"></i>
        <input
          (input)="onImageChange($event)"
          accept="image/*"
          style="
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 16px;
            height: 16px;
            z-index: 1;
            opacity: 0;
          "
          type="file"
        />
      </div>
      <input
        (keyup.enter)="sendMessage(msgContent)"
        #msgContent
        placeholder="Aa"
        type="text"
      />
      <i (click)="sendMessage(msgContent)" class="fa-solid fa-paper-plane"></i>
    </ng-container>
  </div>
</div>
<div
  style="display: flex; justify-content: center; align-items: center"
  *ngIf="micrphonAlert"
  class="locationPopup"
>
  <div
    style="
      width: 50%;
      background-color: white;
      border-radius: 8px;
      padding: 16px;
    "
  >
    <h2>السماح للميكروفون</h2>
    <p>
      لتسجيل الرسائل الصوتية، نحتاج إلى الوصول إلى الميكروفون الخاص بك. انقر فوق
      شريط URL واختر السماح دائمًا بالوصول إلى الميكروفون الخاص بك.
    </p>
    <div
      style="width: 100%; display: flex; justify-content: end; margin-top: 20px"
    >
      <button
        style="background-color: #920f11; color: white"
        (click)="micrphonAlert = false"
        class="gotit"
      >
        حسناً
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="currentImage"
  style="
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <div style="position: relative">
    <div
      style="
        top: 10px;
        right: 10px;
        position: absolute;
        display: flex;
        gap: 10px;
      "
    >
      <i
        style="
          background-color: #920f11;
          padding: 10px;
          border-radius: 10px;
          cursor: pointer;
          color: white;
        "
        (click)="currentImage = ''"
        class="fa-solid fa-x"
      ></i>
      <!-- <i
        class="fa-solid fa-download text-white"
        style="
          background-color: #920f11;
          padding: 10px;
          border-radius: 10px;
          cursor: pointer;
          color: white;
        "
        (click)="downloadImage()"
      >
      </i> -->
    </div>
    <img
      style="max-width: 100%; max-height: 100vh"
      [src]="currentImage"
      alt=""
    />
  </div>
</div>
<div
  *ngIf="selectedMsgToDelete"
  style="
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  "
  class="delete-popup"
>
  <div
    style="
      padding: 2rem;
      text-align: center;
      background-color: white;
      border-radius: 10px;
    "
  >
    <p>تأكيد حذف الرسالة ؟</p>
    <div style="display: flex; justify-content: end; gap: 10px">
      <button
        [disabled]="deleteMsgLoading"
        (click)="deleteMessage(selectedMsgToDelete)"
        class="btn btn-danger"
      >
        <i *ngIf="deleteMsgLoading" class="rotate-icon fa-solid fa-spinner"></i>
        حذف
      </button>
      <button (click)="selectedMsgToDelete = ''" class="btn btn-dark">
        الغاء
      </button>
    </div>
  </div>
</div>
