<nav>
  <div
    style="direction: ltr; text-align: left"
    class="container mt-2 d-md-none"
  ></div>
  <div class="container flx">
    <div class="logoParent">
      <a routerLink="/" aria-label="NAMNAM">
        <img
          class="mainlogo"
          src="assets/0838de4f-5271-4e88-99d9-c0f89edfe1c2.jfif"
          alt="NAMNAM"
        />
      </a>
    </div>
    <!-- end logo   -->
    <div
      *ngIf="isLogin()"
      class="loginParent"
      style="display: flex; gap: 10px; align-items: center"
    >
      <a routerLink="/">موادي</a>
      <span class="mx-2"></span>
      <a routerLink="/all-msgs">الاسئلة</a>
      <span class="mx-2"></span>
      <button
        [disabled]="authService.logoutloading"
        style="cursor: pointer"
        aria-label="تسجيل الخروج"
        (click)="authService.logout()"
        class="bluButton logout"
      >
        تسجيل الخروج
      </button>
    </div>
    <!-- end login parent -->
  </div>
</nav>
