<section class="container chat-home mt-3">
  <h1 style="text-align: center; color: #920f11; margin-bottom: 20px">
    اسئلة مادة {{ materialName }}
  </h1>
  <div class="row">
    <div class="col-xl-4 mb-3">
      <div class="chat-list">
        <h3 style="padding: 16px">الطلاب</h3>
        <h5 class="text-center" *ngIf="loading">Loading....</h5>
        <ul *ngIf="students?.length">
          <li
            style="
              border-bottom: 1px solid #d8cfcf;
              padding: 16px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: bold;
            "
            class="mb-2 chat-list-item"
            *ngFor="let student of students"
            (click)="selectStudent(student.userId, student.name)"
            [style.color]="
              student.userId === selectedStudentId ? '#920f11' : 'black'
            "
          >
            <div style="display: flex; gap: 10px; align-items: center">
              <img
                style="width: 50px; height: 50px; object-fit: cover"
                src="assets/logo.png"
                alt=""
              />
              <div>
                <p style="margin: 0">{{ materialName }}</p>
                <div style="display: flex; gap: 5px">
                  <span> {{ student.name }}</span> -
                  <span>{{ student.phone }}</span>
                </div>
              </div>
            </div>
            <span
              *ngIf="student.hasUnread && selectedStudentId != student.userId"
              style="
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #920f11;
              "
              title="رسائل غير مقروءة"
            >
            </span>
          </li>
        </ul>
        <h3 class="text-center" *ngIf="!students?.length && !loading">
          لا يوجد اسئلة
        </h3>
      </div>
    </div>
    <div class="col-xl-8">
      <div *ngIf="messages?.length; else selectChat">
        <app-chat-box
          [studentName]="studentName"
          [messages]="messages"
        ></app-chat-box>
      </div>
      <ng-template #selectChat>
        <h3 *ngIf="students?.length" class="text-center p-5">
          قم بأختيار المحادثة
        </h3>
      </ng-template>
    </div>
  </div>
</section>
