.chat-home {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .chat-list {
    background-color: #f7fafc;
    height: 85vh;
    overflow: auto;
    border-radius: 10px;
  }
  .chat-list-item {
    &:hover {
      color: #0034c2 !important;
    }
  }
}
